:root {
  --themeColor:rgb(204, 228, 248);
  --lightGray:#c0c0c0;
  --darkGary:#686868;
  --lightBlack:#424242;
  --darkBlack:#202020;
  --alphaBlack:#00000080;
}

*[class^=btn] {
  font-size: inherit;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  transition: all 500ms ease;
  background-color: var(--lightGray);
  color: #fff;
}

*[class^=btn]:hover {
  filter: brightness(1.2);
}

*[class^=btn]:active {
  filter: brightness(0.8);
  box-shadow: 3px 3px 2px black inset;
}

.btn-theme {
  background-color: #ffffff;
  color: var(--darkBlack);
}

#logo {
  padding-left: 42px;
}

header {
  width: 100%;
  height: 102px;
  line-height: 102px;
}
header menu {
  position: relative;
  background-color: #FFFFFF;
  z-index: 13;
}
header menu ul li a {
  color: var(--darkGary);
  font-size: 16px;
  padding: 0 30px;
  transition: all 500ms ease;
}
header menu ul li:hover a {
  background-color: var(--themeColor);
}
header nav {
  width: 2em;
  height: 1em;
  /*background-color: aquamarine;*/
  position: absolute;
  top: calc(40px - 0.5em);
  right: 1em;
}
header nav *[class^=nav] {
  width: 100%;
  height: 2px;
  background-color: var(--darkBlack);
  position: absolute;
  transform-origin: 0;
}
header nav .nav-t {
  top: 0;
}
header nav .nav-m {
  top: calc(0.5em - 1px);
}
header nav .nav-b {
  bottom: 0;
}

#goods {
  width: 100%;
  height: 98px;
  line-height: 98px;
}
#goods ul li a {
  color: var(--lightBlack);
  padding: 0 58px;
  font-weight: bolder;
  font-size: 24px;
}

#theme {
  width: 100%;
  height: calc(100vh - 200px);
  overflow: hidden;
  position: relative;
}
#theme .slide {
  width: 100%;
  height: 100%;
  position: absolute;
}
#theme .push {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: calc(50vh - 3em - 80px) 0.5em 0;
  z-index: 11;
}
#theme .push h1 {
  font-size: 40px;
  color: #fff;
}
#theme .push h2 {
  font-size: 32px;
  color: var(--lightGray);
}
#theme .push a {
  margin-top: 1em;
}

#about {
  padding: 90px 10px;
}
#about img {
  width: 100%;
  padding: 0.5em;
}
#about .background-gray {
  background-color: #FBFBFB;
}
#about .background-gray .about-img .about-img-1 {
  width: 40%;
}
#about .background-gray .about-img .about-img-2 {
  width: 60%;
}
#about .background-gray .about-content {
  padding: 0 40px;
}
#about .background-gray .about-content h2 {
  padding-top: 50px;
  line-height: 68px;
  font-size: 64px;
  color: var(--lightGray);
}
#about .background-gray .about-content .myP p {
  font-size: 16px;
  text-align: justify;
}

#show {
  width: 100%;
  height: 100vh;
  background-image: url(../img/show-1.jpeg);
  background-size: cover;
  background-position: center;
}
#show .grid-12 {
  background-color: var(--alphaBlack);
  color: #fff;
  padding: calc(50vh - 5em) 1em 0;
}
#show .grid-12 a {
  margin-top: 1em;
}

#product {
  width: 100%;
  background-color: #ebe9e6;
}
#product > .grid-12:nth-of-type(1) {
  background-color: #ebe9e6;
  color: var(--darkBlack);
  padding: 3em 0;
}
#product .grid-10 .carts {
  position: relative;
}
#product .grid-10 .carts img {
  width: 100%;
}
#product .grid-10 .carts .title {
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  background-color: #fff;
  color: var(--darkBlack);
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
#product .grid-10 {
  padding: 2em 1em;
}
#product .grid-10 img {
  width: 100%;
}
#product .grid-10 h3 {
  padding: 0.5em 0;
}
#product .grid-10 a {
  margin-top: 1em;
}

#service {
  background-color: #fff;
}
#service .grid-12:nth-of-type(1) {
  padding: 4em 2em;
}
#service .grid-m-4 {
  position: relative;
}
#service .grid-m-4 img {
  width: 100%;
}
#service .grid-m-4 .push {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(rgba(114, 113, 113, 0.6666666667), rgba(0, 0, 0, 0.6666666667) 80%);
  padding: calc(35% - 1em) 2em 0;
}
#service .grid-m-4 .push h3 {
  color: #fff;
}
#service .grid-m-4 .push p {
  color: var(--lightGray);
}
#service .grid-m-4 .push a {
  margin: 20px 0;
}

footer {
  color: var(--darkGary);
  padding: 1em 0;
}

#contact {
  background-color: #fff;
  color: var(--darkBlack);
  padding: 2em 0px;
}
#contact .grid-10 {
  padding: 4em;
}
#contact .grid-10 h3 {
  padding: 2em 0;
}
#contact .grid-10 p {
  padding-bottom: 1em;
  text-align: justify;
}
#contact .grid-10 a {
  padding: 0 0 1em;
  color: var(--darkBlack);
}
#contact .grid-10 table {
  width: 100%;
}
#contact .grid-10 hr {
  border-color: #161616;
  border-style: solid;
  margin: 0.5em;
}

@media screen and (min-width: 768px) {
  menu {
    display: block !important;
  }
  #show {
    height: 50vh;
  }
  #show .grid-12 {
    padding: calc(15vh - 2em) 1em 0;
  }
  #about {
    padding: 90px auto;
  }
  #service .grid-m-4 .push {
    filter: opacity(0);
    transition: all 500ms ease;
  }
  #service .grid-m-4:hover .push {
    filter: opacity(1);
  }
  #contact {
    padding: 2em 100px;
  }
}
@media screen and (min-width: 1024px) {
  .contact-margin {
    padding-right: 50px;
  }
  #about .about-img .about-img-1 .about-img1 {
    padding: 30px;
    width: 270px;
    height: 265px;
  }
  #about .about-img .about-img-1 .about-img3 {
    width: 270px;
    height: 140px;
  }
  #about .about-img .about-img-2 {
    padding: 0 45px;
  }
  #about .about-img .about-img-2 .about-img2 {
    width: 270px;
    height: 345px;
  }
  #product .grid-10 .carts {
    overflow: hidden;
  }
  #product .grid-10 .carts img {
    transform: scale(1);
    transition: all 500ms ease;
  }
  #product .grid-10 .carts .title {
    bottom: -3em;
    transition: all 500ms ease;
  }
  #product .grid-10:hover img {
    transform: scale(1.2);
  }
  #product .grid-10:hover .title {
    bottom: 0;
  }
  #theme {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    position: relative;
  }
  #theme .slide {
    width: calc(100% - 650px);
    position: absolute;
    right: 60px;
  }
  #theme .push {
    position: absolute;
    top: 0;
    left: 135px;
    z-index: 11;
    padding: calc(50vh - 3em - 80px) 0.5em 0;
  }
  #theme .push h1 {
    font-size: 64px;
    color: var(--alphaBlack);
  }
  #theme .push h2 {
    font-size: 32px;
    color: var(--lightGray);
  }
  #theme .push a {
    margin-top: 1em;
  }
}/*# sourceMappingURL=design.css.map */
