html, body, header, menu, main, nav, aside, article, footer, div, p, a, ul, li, ol, h1, h2, h3, h4, h5, h6, img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
}

img {
  vertical-align: bottom;
}

.flex-start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.grid-1 {
  width: calc(100% / 12 * 1);
}

.grid-2 {
  width: calc(100% / 12 * 2);
}

.grid-3 {
  width: calc(100% / 12 * 3);
}

.grid-4 {
  width: calc(100% / 12 * 4);
}

.grid-5 {
  width: calc(100% / 12 * 5);
}

.grid-6 {
  width: calc(100% / 12 * 6);
}

.grid-7 {
  width: calc(100% / 12 * 7);
}

.grid-8 {
  width: calc(100% / 12 * 8);
}

.grid-9 {
  width: calc(100% / 12 * 9);
}

.grid-10 {
  width: calc(100% / 12 * 10);
}

.grid-11 {
  width: calc(100% / 12 * 11);
}

.grid-12 {
  width: calc(100% / 12 * 12);
}

@media screen and (min-width: 375px) {
  .ds-none {
    display: none;
  }
  .ds-block {
    display: block;
  }
  .ds-inline {
    display: inline;
  }
  .ds-inline-block {
    display: inline-block;
  }
  .ds-flex {
    display: flex;
  }
  .grid-s-1 {
    width: calc(100% / 12 * 1);
  }
  .grid-s-2 {
    width: calc(100% / 12 * 2);
  }
  .grid-s-3 {
    width: calc(100% / 12 * 3);
  }
  .grid-s-4 {
    width: calc(100% / 12 * 4);
  }
  .grid-s-5 {
    width: calc(100% / 12 * 5);
  }
  .grid-s-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-s-7 {
    width: calc(100% / 12 * 7);
  }
  .grid-s-8 {
    width: calc(100% / 12 * 8);
  }
  .grid-s-9 {
    width: calc(100% / 12 * 9);
  }
  .grid-s-10 {
    width: calc(100% / 12 * 10);
  }
  .grid-s-11 {
    width: calc(100% / 12 * 11);
  }
  .grid-s-12 {
    width: calc(100% / 12 * 12);
  }
}
@media screen and (min-width: 768px) {
  .dm-none {
    display: none;
  }
  .dm-block {
    display: block;
  }
  .dm-inline {
    display: inline;
  }
  .dm-inline-block {
    display: inline-block;
  }
  .dm-flex {
    display: flex;
  }
  .grid-m-1 {
    width: calc(100% / 12 * 1);
  }
  .grid-m-2 {
    width: calc(100% / 12 * 2);
  }
  .grid-m-3 {
    width: calc(100% / 12 * 3);
  }
  .grid-m-4 {
    width: calc(100% / 12 * 4);
  }
  .grid-m-5 {
    width: calc(100% / 12 * 5);
  }
  .grid-m-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-m-7 {
    width: calc(100% / 12 * 7);
  }
  .grid-m-8 {
    width: calc(100% / 12 * 8);
  }
  .grid-m-9 {
    width: calc(100% / 12 * 9);
  }
  .grid-m-10 {
    width: calc(100% / 12 * 10);
  }
  .grid-m-11 {
    width: calc(100% / 12 * 11);
  }
  .grid-m-12 {
    width: calc(100% / 12 * 12);
  }
}
@media screen and (min-width: 1024px) {
  .dl-none {
    display: none;
  }
  .dl-block {
    display: block;
  }
  .dl-inline {
    display: inline;
  }
  .dl-inline-block {
    display: inline-block;
  }
  .dl-flex {
    display: flex;
  }
  .grid-l-1 {
    width: calc(100% / 12 * 1);
  }
  .grid-l-2 {
    width: calc(100% / 12 * 2);
  }
  .grid-l-3 {
    width: calc(100% / 12 * 3);
  }
  .grid-l-4 {
    width: calc(100% / 12 * 4);
  }
  .grid-l-5 {
    width: calc(100% / 12 * 5);
  }
  .grid-l-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-l-7 {
    width: calc(100% / 12 * 7);
  }
  .grid-l-8 {
    width: calc(100% / 12 * 8);
  }
  .grid-l-9 {
    width: calc(100% / 12 * 9);
  }
  .grid-l-10 {
    width: calc(100% / 12 * 10);
  }
  .grid-l-11 {
    width: calc(100% / 12 * 11);
  }
  .grid-l-12 {
    width: calc(100% / 12 * 12);
  }
}
@media screen and (min-width: 1366px) {
  .dxl-none {
    display: none;
  }
  .dxl-block {
    display: block;
  }
  .dxl-inline {
    display: inline;
  }
  .dxl-inline-block {
    display: inline-block;
  }
  .dxl-flex {
    display: flex;
  }
  .grid-xl-1 {
    width: calc(100% / 12 * 1);
  }
  .grid-xl-2 {
    width: calc(100% / 12 * 2);
  }
  .grid-xl-3 {
    width: calc(100% / 12 * 3);
  }
  .grid-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .grid-xl-5 {
    width: calc(100% / 12 * 5);
  }
  .grid-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-xl-7 {
    width: calc(100% / 12 * 7);
  }
  .grid-xl-8 {
    width: calc(100% / 12 * 8);
  }
  .grid-xl-9 {
    width: calc(100% / 12 * 9);
  }
  .grid-xl-10 {
    width: calc(100% / 12 * 10);
  }
  .grid-xl-11 {
    width: calc(100% / 12 * 11);
  }
  .grid-xl-12 {
    width: calc(100% / 12 * 12);
  }
}/*# sourceMappingURL=style.css.map */