$aligns: right , left , center , justify;
$displays:none,block,inline,inline-block,flex;
$flex-align: flex-start,center,flex-end;
$flex-wrap:wrap,nowrap;

@mixin default(){
    @each $f in $flex-align{
        .#{$f}{
            justify-content: #{$f};
        }
    }
    @each $fw in $flex-wrap{
        .#{$fw}{
            flex-wrap: #{$fw};
        }
    }
    @each $a in $aligns{
        .text-#{$a}{
            text-align: #{$a};
        }
    }
    @each $d in $displays{
        .d-#{$d}{
            display: #{$d};
        }
    }
    @for $i from 1 through 12{
        .grid-#{$i}{
            width: calc(100% / 12 * #{$i});
        }
    }
}
@mixin phone(){
    @each $d in $displays{
        .ds-#{$d}{
            display: #{$d};
        }
    }
    @for $i from 1 through 12{
        .grid-s-#{$i}{
            width: calc(100% / 12 * #{$i});
        }
    }
}
@mixin table(){
    @each $d in $displays{
        .dm-#{$d}{
            display: #{$d};
        }
    }
    @for $i from 1 through 12{
        .grid-m-#{$i}{
            width: calc(100% / 12 * #{$i});
        }
    }
}
@mixin desk(){
    @each $d in $displays{
        .dl-#{$d}{
            display: #{$d};
        }
    }
    @for $i from 1 through 12{
        .grid-l-#{$i}{
            width: calc(100% / 12 * #{$i});
        }
    }    
}
@mixin tv(){
    @each $d in $displays{
        .dxl-#{$d}{
            display: #{$d};
        }
    }
    @for $i from 1 through 12{
        .grid-xl-#{$i}{
            width: calc(100% / 12 * #{$i});
        }
    }    
}